html {
    box-sizing: border-box
}

*,
::after,
::before {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}

:root {
    /* color */
    --color-primary: #AF3959;
    --color-secondary: #66BF39;
    --color-bg: #FFFFFF;
    --color-text: #32373B;
    --color-op-1: #C79200;
    --color-op-2: #2968CE;
    --color-op-3: #237E0A;
    --color-logo: #5F2FAB;
    /* font */
    --font-title: ;
    --font-text: ;
    /* fz */
    --fz-h1: 4rem;
    --fz-h2: 3.125rem;
    --fz-h3: 3rem;
    --fz-h4: 2.25rem;
    --fz-h5: 2rem;
    --fz-h6: 1.5rem;
    --fz-p: 1.125rem;
    /* border raduis */
    --br-button: 15px;

    --ff-roboto: "Roboto", sans-serif;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--ff-roboto);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 50px;
    font-size: 24px;
    /* FIXME: position: fixed;  */
    /* ! fixe position fixe stp  */
    background: var(--color-bg);
}

.box_nav_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
}

.nav_link {
    position: relative;
}

.nav_link:nth-child(2) {
    color: #1297B9;
}

.nav_link:not(:nth-child(1)):not(:last-child):before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -2px;
    left: 0;
    background: var(--color-op-2);
    transition: width .5s ease-in-out;
}

.nav_link:hover:not(:nth-child(1)):not(:last-child):before {
    width: 100%;
}

.btn_hamb {
    height: 30px;
    width: 30px;
    position: relative;
    display: none;
}

.btn_hamb .line {
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    position: absolute;
    border-radius: 50px;
}

.btn_hamb .line:nth-child(1) {
    top: 1px;
    transition: opacity 1.5s ease-in-out;
}

.btn_hamb .line:nth-child(2) {
    top: 50%;
    transform: translate(5px, -50%);
}

.btn_hamb .line:nth-child(3) {
    bottom: 0;
}

.btn_hamb--active .line:nth-child(1) {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.btn_hamb--active .line:nth-child(2) {
    animation: animBtnHambLine2 1.5s 1 ease-in-out forwards;
}

.btn_hamb--active .line:nth-child(3) {
    animation: animBtnHambLine3 1.5s 1 ease-in-out forwards;

}

.btn_hamb--active-reverse .line:nth-child(2) {
    animation: animBtnHambLine2Reverse 1.5s 1 ease-in-out forwards;

}

.btn_hamb--active-reverse .line:nth-child(3) {
    animation: animBtnHambLine3Reverse 1.5s 1 ease-in-out forwards;

}

@keyframes animBtnHambLine2 {
    0% {
        bottom: 0;
    }

    50%,
    51% {
        transform: translate(0px, -50%);
    }

    99%,
    100% {
        transform: translate(0px, -50%) rotate(360deg);
    }
}

@keyframes animBtnHambLine2Reverse {
    0% {
        transform: translate(0px, -50%);
        transform: translate(0px, -50%) rotate(360deg);
    }

    50%,
    51% {
        transform: translate(5px, -50%);
    }

    99%,
    100% {
        transform: translate(5px, -50%) rotate(0deg);
    }
}

@keyframes animBtnHambLine3 {
    0% {
        bottom: 0;
        transform: translateY(0) rotate(0deg);
    }

    50%,
    51% {
        bottom: 50%;
        transform: translateY(50%) rotate(0deg);
    }

    99%,
    100% {
        bottom: 50%;
        transform: translateY(50%) rotate(90deg);
    }
}

@keyframes animBtnHambLine3Reverse {
    0% {
        bottom: 50%;
        transform: translateY(50%) rotate(90deg);
    }

    50%,
    51% {
        bottom: 0;
    }

    99%,
    100% {
        bottom: 0;
        transform: translateY(0) rotate(0deg);
    }
}





.footer {
    width: 100%;
    height: 70px;
    background: #19252A;
}

.footer .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer .container nav {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container nav a {
    margin: 0 20px;
    font-size: 16px;
    color: white;

}

.footer .container nav button {
    border: none;
    outline: none;
    padding: 9px 0;
    background: #1B94BA;
    color: #fff;
}

.footer .container nav .authentication_nav {
    padding-left: 80px;
}


@media screen and (max-width: 628px) {
    .box_nav_links {
        position: absolute;
        flex-direction: column;
        height: calc(100vh);
        width: 50%;
        right: 0;
        top: 0;
        transform: translateX(100%);
        background: hsla(207, 8%, 21%, 0.7);
        color: var(--color-bg);
        transition: transform 1s ease-out;
        padding: 93.2px 50px 50px 50px;
    }

    .btn_hamb {
        display: block;
    }

    .nav_link:hover:not(:nth-child(1)):not(:last-child):before {
        width: 0;
    }

    .authentication_nav {
        display: none;
    }

    .footer .container nav a {
        margin: 0 18px;
        font-size: 16px;
        color: white;

    }
}

.box_nav_links--active {
    transform: translateX(0%);
}


.logo {
    font-size: 36px;
    color: var(--color-logo);
}

.title {
    font-size: var(--fz-h1);
}

@media screen and (max-width: 425px) {
    .title {
        font-size: var(--fz-h3);
    }

    .authentication_nav {
        display: none;
    }

    .footer .container nav a {
        margin: 0 16px;
        font-size: 16px;
        color: white;

    }
}

.txt {
    font-size: var(--font-text);
}


.link_primary {
    background: var(--color-op-2);
    color: var(--color-bg);
    padding: 10px 50px;
    font-size: 25px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.link_primary:hover {
    color: var(--color-op-2);
    background: var(--color-bg);
    border: 1px solid var(--color-op-2);
}

@media screen and (max-width: 425px) {
    .link_primary {
        font-size: var(--fz-p);
        padding: 10px 35px;
    }

    .authentication_nav {
        display: none;
    }

    .footer .container nav a {
        margin: 0 20px;
        font-size: 16px;
        color: white;

    }
}


section,
header {
    padding: 135px;
}

@media screen and (max-width: 768px) {

    section,
    header {
        padding: 135px 50px;
    }

    .authentication_nav {
        display: none;
    }
}

@media screen and (max-width: 360px) {

    section,
    header {
        padding: 135px 10px;
    }

    .authentication_nav {
        display: none;
    }

    .footer .container nav a {
        margin: 0 16px;
        font-size: 16px;
        color: white;

    }


}